<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>Perelek</string>
    <key>CFBundleDisplayName</key>
    <string>Perelek</string>
    <key>NSCameraUsageDescription</key>
    <string>Diperlukan untuk mengambil foto bukti pembayaran dan foto profil.</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>Diperlukan untuk memilih foto dari galeri.</string>
    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>Diperlukan untuk menyimpan foto.</string>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>perelek</string>
            </array>
        </dict>
    </array>
</dict>
</plist>
